@import url(https://db.onlinewebfonts.com/c/b76dcc4b7c1c0ff6f43d6b841f890530?family=Codan+Regular);
@import url(https://db.onlinewebfonts.com/c/2acacb28c27ccc489f67b88c99055cb2?family=Codan+Light);



@mixin codan-font($type: "regular", $font-size: 16px){
  font-size: $font-size;
  @if $type == "regular" {
    font-family: "Codan Regular";
  }
  @if $type == "light" {
    font-family: "Codan Light";
  }

  }

@mixin flex-center($position: 'center'){
  display: flex;
  justify-content: $position;
  align-items: center;
}