@import "./_variables.scss";
@import "./mixins.scss";
@import './animations.scss';

@mixin menu-mixin($plank-width: 36.5px) {
    display: block;
    background-color: white;
    height: 1px;
    width: $plank-width;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 89px;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    z-index: 1000;

    .header-menu {
        @include menu-mixin();
        margin-left: 58px;
        &:after{
            content: '';
            @include menu-mixin(15px);
            margin-top:4.5px;
        }
    }

    .logo {
        height: 18.79px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        transition: 1s;
    }
    .header-start-cooperation{
        @include codan-font();
        @include flex-center(center, row);
        color: $white-color;
        width: 250px;
        margin-right: 58px;
        &:hover{
            animation: shake 0.7s linear infinite;
        }
        img{
            margin-right: 12px;
        }
        p{
            letter-spacing: 0.15em;
        }
    }
}


.fixed-bottom-controls{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    @include codan-font(16px, 'regular');
    .contacts-title {
        margin-left:58px;
        transition: 1s;
        &:hover{
            animation: shake 0.5s linear infinite;
        }
    }
    p{
        line-height: 140%;
        letter-spacing: 0.15em;
    }
    .language-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        width:100px;
        margin-right:58px;
        p{
            padding-left: 10px;
            
            padding-right: 10px;

        }
    }
}

.language-toggle-eng{
    border-right: 1px solid white;
}

.language-toggle-ua {
    opacity: 0.3;
}