@import "./_variables.scss";
@import "./mixins.scss";
@import './animations.scss';

.pick-industry-section{
    @include flex-center();
    height: 100vh;
    width: 100vw;
}

.pick-industry-container{
    width: 1160px;
    height: 390px;     
    background-color: rgba(36, 36, 36, 0.1);
    background-image: -webkit-linear-gradient(320.54deg, rgba(36, 36, 36, 0.1) 2.41%, rgba(137, 137, 137, 0.1) 99.07%);
    background-image: -moz-linear-gradient(320.54deg, rgba(36, 36, 36, 0.1) 2.41%, rgba(137, 137, 137, 0.1) 99.07%);
    background-image: -ms-linear-gradient(320.54deg, rgba(36, 36, 36, 0.1) 2.41%, rgba(137, 137, 137, 0.1) 99.07%);
    background-image: -o-linear-gradient(320.54deg, rgba(36, 36, 36, 0.1) 2.41%, rgba(137, 137, 137, 0.1) 99.07%);
    backdrop-filter: blur(60px);
    border-radius: 10px;

}